<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.demo.dao.CurrentIDMapper">
  <resultMap id="BaseResultMap" type="com.ly.demo.entity.CurrentID">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="currentid" jdbcType="INTEGER" property="currentid" />
    <result column="agent" jdbcType="VARCHAR" property="agent" />
    <result column="onoff" jdbcType="INTEGER" property="onoff" />
    <result column="groupsize" jdbcType="INTEGER" property="groupsize" />
  </resultMap>
  <sql id="Base_Column_List">
    id, currentid, agent, onoff, groupsize
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_CURRENT_ID
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKey" parameterType="com.ly.demo.entity.CurrentID">
    update T_CURRENT_ID
    set currentid = #{currentid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateOnoffByPrimaryKey" parameterType="com.ly.demo.entity.CurrentID">
    update T_CURRENT_ID
    set onoff = #{onoff,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>